.coor{
    position: absolute;
    top: 5px;
    left: 500px;
    width: 100px;
    height: 25px;
    border: 2px solid black;
}
.table{
    table-layout: fixed;
    width: 100%;
    white-space: normal;
}
.table td{
    max-width: 30%;
    word-wrap: break-word;
}
body{
    overflow: hidden;
}
textarea{
    white-space: nowrap;
    resize: none;
    width: 55%;
    height: 60%;
}

aside{
    position: absolute;
    width: 42%;
    height: 70%;
    top: 35px;
    right: 0;
}

#editor{
    position: absolute;
    left: 10px;
    top: 35px;
    width: 55%;
    height: 60%;
}

footer{
    position: absolute;
    bottom: 10px;
    height: 30%;
    width: 99%;
}

#foot-content{
    height: 80%;
}

#side-content{
    height: 72.5%;
}
#tree1{
    position: relative;
    top:0;
    height: 72.5%;
}
#tree2{
    position: relative;
    top: 0;
    height: 72.5%;
}
#lineas{
    position: absolute;
    top:36px;
    left: 2px;
    font: .85em sans-serif;
    height: 60%;
    overflow-y: auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
    background-color: #ddd;
}

.tab button.sactive {
    background-color: rgb(148, 221, 255);
}

.tab button.factive {
    background-color: rgb(148, 221, 255);
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    white-space: nowrap;
    border-top: none;
    overflow: auto;
}

.tabcontent {
    animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.icon{
    position: relative;
    top:0;
    height: 15px;
}

#filcol{
    position:absolute;
    top: 15px;
    left: 100px;
    font: .5em sans-serif;
}